<section id="contactFormContainer" class="container row">
  <form class="col s12 m10 l6 push-m1 push-l3">
    <section class="row input_container">
    <section class="input-field col s12 input_data">
      <input type="text" class="validate" id="nombre">
      <label for="nombre" data-error="X" data-success="OK">Nombre</label>
    </section>
    </section>
    <section class="row input_container">
    <section class="input-field col s12 input_data">
      <input type="email" class="validate" id="email">
      <label for="email" data-error="X" data-success="OK">Email</label>
    </section>
    </section>
    <section class="row input_container">
    <section class="input-field col s12 input_data">
      <textarea class="materialize-textarea" id="contenido"></textarea>
      <label for="contenido">Mensaje</label>
    </section>
    </section>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

  </form>
</section>
