<section class="row container grafica_container">
  <section class="col s12 l10 push-l1">
    <h5 style="text-align:center;color:white">HISTÓRICO</h5>
  <p style="text-align:justify;color:white">Aquí puede visualizar los datos históricos de la localización seleccionada, desde las últimas 2 horas hasta
  los últimos 2 años. Todos los datos aquí mostrados son los que nos proporciona cada estación de Meteomenorca y la API de <a href="http://forecast.io">forecast.io</a></p>
  </section>
<section class="col s12 l6 grafica">
  <h5>Temperatura</h5>
<canvas id="1"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Viento</h5>
<canvas id="2"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Direccion del viento</h5>
<canvas id="3"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Presion</h5>
<canvas id="4"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Humedad</h5>
<canvas id="5"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Lluvia</h5>
<canvas id="6"></canvas>
</section>
</section>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/jquery.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/Chart.min.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/confGlobalChart.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/personalizacionChart.js'></script>
<script>
<?php
foreach(array_reverse($ultimas2Horas) as $data):
  $epoch = date("H:i",strtotime($data->data));
  //$time = new DateTime("@$epoch");
?>
  chart1.addData([<?php echo $data->temp; ?>],"<?php echo $epoch; ?>");
  chart2.addData([<?php echo $data->viento; ?>],"<?php echo $epoch; ?>");
  chart3.addData([<?php echo $data->dirViento; ?>],"<?php echo $epoch; ?>");
  chart4.addData([<?php echo $data->presion; ?>],"<?php echo $epoch; ?>");
  chart5.addData([<?php echo $data->humedad; ?>],"<?php echo $epoch; ?>");
  chart6.addData([<?php echo $data->lluvia; ?>],"<?php echo $epoch; ?>");
<?php
endforeach;
?>
</script>
