<script type="text/javascript" src='<?= base_url() ?>assets/jquery/cookiesTime.js'></script>
<section class="row container grafica_container">
  <section class="col s12 l10 push-l1">
    <h5 style="text-align:center;color:white">HISTÓRICO</h5>
  <p style="text-align:justify;color:white">Aquí puede visualizar los datos históricos de la localización seleccionada, desde las últimas 2 horas hasta
  los últimos 2 años. Todos los datos aquí mostrados son los que nos proporciona cada estación de Meteomenorca y la API de <a href="http://forecast.io">forecast.io</a></p>
  </section>
  <section class="input-field col s12 m6 l4 offset-l4 offset-m3 rangeTimeContainer">
    <h6>Rango de tiempo:</h6>
    <select id="timeSelect" onchange="setTimeRange(this.value);window.location='datos'">
    <option value="2hrs">2 Horas</option>
    <option value="12hrs">12 Horas</option>
    <option value="1dia">1 Día</option>
    <option value="1semana">1 Semana</option>
    <option value="1mes">1 Mes</option>
    <option value="6meses">6 Meses</option>
    <option value="1ano">1 Año</option>
    <option value="2anos">2 Años</option>
    </select>
  </section>
<section class="col s12 l6 grafica">
  <h5>Temperatura</h5>
<canvas id="1"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Viento</h5>
<canvas id="2"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Dirección del viento</h5>
<canvas id="3"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Presión</h5>
<canvas id="4"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Humedad</h5>
<canvas id="5"></canvas>
</section>
<section class="col s12 l6 grafica">
  <h5>Lluvia</h5>
<canvas id="6"></canvas>
</section>
</section>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/jquery.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/Chart.min.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/confGlobalChart.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/personalizacionChart.js'></script>
<script>
  <?php
  foreach(array_reverse($datosHistoricos) as $data):
    $epoch = date("H:i",strtotime($data->time));
    //$time = new DateTime("@$epoch");
  ?>
    chart1.addData([<?php echo $data->avgTemp; ?>],"<?php echo $epoch; ?>");
    chart2.addData([<?php echo $data->avgViento; ?>],"<?php echo $epoch; ?>");
    chart3.addData([<?php echo $data->avgDirViento; ?>],"<?php echo $epoch; ?>");
    chart4.addData([<?php echo $data->avgPres; ?>],"<?php echo $epoch; ?>");
    chart5.addData([<?php echo $data->avgHumedad; ?>],"<?php echo $epoch; ?>");
    chart6.addData([<?php echo $data->totalLluvia; ?>],"<?php echo $epoch; ?>");
  <?php
  endforeach;
  ?>
</script>
