<body>
  <main>
<nav class="nav-wrapper">
  <a href="#" class="brand-logo">Meteomenorca</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="<?= base_url() ?>">Inicio</a></li>
          <li><a href="<?= base_url() ?>index.php/Datos">Datos</a></li>
          <li><a href="#">Noticias</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Datos</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
</nav>
<section class="row">
<h1>Data_controller -> datos.html</h1>
</section>
</main>
