<?php
$datos = $datosPrincipales->row_array();
?>
<body>
  <main>
<nav class="nav-wrapper">
  <a href="#" class="brand-logo">Meteomenorca</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Datos</a></li>
          <li><a href="#">Noticias</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Datos</a></li>
        <li><a href="#">Noticias</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
</nav>
<section class="row">
<section class="central_container col s12 m6 l5 push-m1 push-l2 row">
  <section class="data_container col s12 m4">ICONO</section>
  <section class="data_container col s6 m4"><?= $datos['viento'] ?></section>
  <section class="data_container col s6 m4"><?= $datos['temp'] ?></section>
  <section class="data_container col s6 m4"><?= $datos['dirViento'] ?></section>
  <section class="data_container col s6 m4"><?= $datos['presion'] ?></section>
  <section class="data_container col s6 m4"><?= $datos['probLluvia'] ?></section>
  <section class="data_container col s6 m4"><?= $datos['lluvia'] ?></section>
  <section class="data_container col s6 m4"><?= $datos['nubes'] ?></section>
  <section class="data_container col s6 m4"><?= $datos['ozono'] ?></section>
</section>
<aside class="notices_container col s12 m3 push-m2 push-l3 row">
  <section id="notice1" class="notice_container col s12">noticia 1</section>
  <section class="notice_container col s12">noticia 2</section>
</aside>
</section>
</main>
</body>
