<?php

$datos = $datosPrincipales->row_array();

$viento = $datos['viento'];
$temp = $datos['temp'];
$dirViento = $datos['dirViento'];
$presion = $datos['presion'];
$probLluvia = $datos['probLluvia'];
$lluvia = $datos['lluvia'] / 0.0394;
$humedad = $datos['humedad'];
$icono = $datos['icono'];

?>
<section class="row">
<section class="central_container col s12 m10 l5 push-m1 push-l1 row">
  <section class="data_container col s12" id="icono"><img src="<?= base_url() ?>assets/images/iconosTiempo/<?= $icono ?>.png"/ alt="icono" class="responsive-img" width="40%"></section>
  <section class="data_container col s4"><h3><?= $temp ?><span style="font-size:12px">ºC</span></h3></section>
  <section class="data_container col s4" id="dirViento"><img src="<?= base_url() ?>assets/images/arrow.png" alt="icono" class="responsive-img" width="100%" style="max-width:50px;max-height:50px;" id="arrowViento"/><h3 id=valDirViento><?= $dirViento ?></h3></section>
  <section class="data_container col s4"><h3><?= $viento ?><span style="font-size:12px">km/h</span></h3></section>
  <section class="data_container col s4"><h4><?= $humedad ?><span style="font-size:12px">%</span></h4></section>
  <section class="data_container col s4"><h4><?= round($presion) ?><span style="font-size:12px">hPa</span></h4></section>
  <section class="data_container col s4"><h4><?= round($lluvia,3, PHP_ROUND_HALF_UP) ?><span style="font-size:12px">mm</span></h4></section>
</section>
<aside class="generalPred_container col s12 m10 l5 push-m1 push-l1 row">
  <section id="daily_pred" class="pred_container col s12">
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
  </section>
  <section class="pred_container col s12">
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
    <section class="col s1">
      <p>
        adsflkasdf
      </p>
    </section>
  </section>
</aside>
</section>
