</main>
<footer class="page-footer">
  <section class="container">
    <section class="row">
      <a href="#"><section class="col s12 m4 center" id="facebook_footer">
        facebook
      </section></a>
        <a href="#"><section class="col s12 m4 center" id="instagram_footer">
          instagram
        </section></a>
          <a href="#"><section class="col s12 m4 center" id="twitter_footer">
            twitter
          </section></a>
    </section>
  </section>
  <section class="footer-copyright">
    <section class="container">
    © 2016 Meteomenorca
  </section>
</section>
</footer>

<script type="text/javascript" src='<?= base_url() ?>assets/jquery/jquery.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/bootstrap/js/materialize.min.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/backstrech.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/js.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/Chart.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/DatosCharts.js'></script>
</body>
</html>
