</main>
<footer class="page-footer">
  </section>
  <section class="footer-copyright">
    <section class="container">
    <span style="color:black;">© 2016 Meteomenorca</span>
  </section>
</section>
</footer>

<script type="text/javascript" src='<?= base_url() ?>assets/jquery/jquery.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/bootstrap/js/materialize.min.js'></script>
<script type="text/javascript" src='<?= base_url() ?>assets/jquery/backstrech.js'></script>

<script type="text/javascript" src='<?= base_url() ?>assets/jquery/js.js'></script>
</body>
</html>
