<!doctype HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <!--Cargamos iconos de material design de Google y css de materialize-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href='<?= base_url() ?>assets/bootstrap/css/materialize.min.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Meteomenorca</title>
  <meta name="description" content="¡Bienvenidos a Meteomenorca! Web de observación y predicción meteorológica de Menorca basada en
  hardware y software de código libre." />
  <link rel="shortcut icon" type="image/png" href='<?= base_url() ?>assets/images/icono_invierno.png'/>
  <link rel="stylesheet" href='<?= base_url() ?>assets/style/main.css' />
  <script type="text/javascript" src='<?= base_url() ?>assets/jquery/cookies.js'></script>
</head>
<body>
  <main>
