<!doctype HTML>
<html lang="es">
<head>
  <meta charset="utf-8">
  <!--Cargamos iconos de material design de Google y css de materialize-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href='assets/bootstrap/css/materialize.min.css' />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Meteomenorca</title>
  <link rel="shortcut icon" type="image/png" href='assets/images/icono_invierno.png'/>

  <script type="text/javascript" src='assets/jquery/jquery.js'></script>
  <script type="text/javascript" src='assets/bootstrap/js/materialize.min.js'></script>

  <script type="text/javascript" src='assets/jquery/js.js'></script>

  <link rel="stylesheet" href='assets/style/main.css' />
</head>
