<nav class="nav-wrapper">
  <a href="#" class="brand-logo">Meteomenorca</a>
  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a href="<?= base_url() ?>">Inicio</a></li>
          <li><a href="<?= base_url() ?>Datos">Datos</a></li>
          <li><a href="<?= base_url() ?>Noticias">Noticias</a></li>
          <li><a href="<?= base_url() ?>Contacto">Contacto</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="<?= base_url() ?>">Inicio</a></li>
        <li><a href="<?= base_url() ?>Datos">Datos</a></li>
        <li><a href="<?= base_url() ?>Noticias">Noticias</a></li>
        <li><a href="<?= base_url() ?>Contacto">Contacto</a></li>
      </ul>
</nav>
