html,body,.main_container,.data_container,.pred_container,.generalPred_container,footer,h5,h1,h3{
  margin: 0;
  padding: 0;
}
html{
  background: darkgray;
  min-height: 100%;
}
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}
main {
    flex: 1 0 auto;
}
nav{
  background-color: transparent;
  box-shadow: none;
}
.select-wrapper input.select-dropdown{
  color: white;
  display: table-row;
}
.select-wrapper span.caret{
  top: 0;
}
.side-nav{
  background-color: turquoise;
}
.brand-logo{
  margin-left: 10px;
}
.central_container{
  margin-top: 2%;
  background-color: transparent;
  color: black;
}
.row .col{
  padding: 25px;
  min-height: 100px;
}
.data_container{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 2em;
  padding: 25px;
}
.data_container#icono{
  padding: 0;
}
#dirViento{

}
.generalPred_container{
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
}
.generalPred_container .col{
  padding: 0px;
  min-height: 0;
}
.pred_container{
  margin: 0;
}
.pred_container h5{
  padding-left: 10px;
  border-left: 10px solid #00bcd4;
}
#daily_pred{
  margin-bottom: 35px;
}
a{
  color: inherit;
}
.dailyPredContainer{
  text-align: center;
  padding: 10px !important;
}
.dailyPredContainer h6{
  text-align: left;
}
.generalPred_container h5{
  padding: 10px;
}
.dailyPredContainer01{
  text-align: left;
}
.dailyPredContainer02{
  text-align: right;
}
.dailyPredContainer02 p{
  padding-right: 10px;
}
.dailyPredContainer p{
  margin: 0;
}
.borderRight{
  border-right: 1px solid gray;
}
.weeklyPredContainer{

}
footer.page-footer{
  -webkit-background-color: transparent;
  -moz-background-color: transparent;
  -o-background-color: transparent;
  background-color: transparent;
  margin-top: 0;
}
/*Propiedades para tamaño escritorio*/
@media (min-width: 1600px) {
  #daily_pred{
    margin-bottom: 8%;
  }
}
@media (min-width: 600px) {
  .data_container{
    padding: 50px 30px;
  }
  .central_container{

  }
  .pred_container{
    max-height: 200px;
  }
  .generalPred_container{
    margin-top: 1.5%;
  }
}
@media (max-width: 600px){
  .borderRight{
    border-right: 0px;
  }
}
@media (max-width: 480px){
  h3,h4{
    font-size: 0.9em;
  }
  .row .col{
    padding: 2px;
  }
  aside{
    margin: 5px;
  }
  form{
    padding: 15px !important;
  }
  .dailyPredContainer .col{
    padding: 0;
  }
  .dailyPredContainer{
    padding: 0px;
  }

}
/*---------------------------------------------------*/
.grafica_container{
  height: 100%;
  width: 95%;
  margin: 0 auto;
}
.grafica{
  color: black;
}
canvas{
  max-height: 250px;
}
/*******************************************************/
.input_data{
  padding: 0 25px !important;
  margin: 0 !important;
}
form{
  -webkit-background-color: rgba(255, 255, 255, 0.5);
  -moz-background-color: rgba(255, 255, 255, 0.5);
  -o-background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 1%;
}
form .row{
  padding: 0;
  margin-bottom: 0;
}
 .input-field label {
   color: black;
 }
 .input-field input[type=text]:focus + label {
   color: rgb(58, 33, 143);
 }
 .input-field input[type=email]:focus + label {
   color: rgb(58, 33, 143);
 }
 .input-field textarea {
   color: black;
   border-bottom: 1px solid black;
   box-shadow: 0 1px 0 0 black;
 }
 .input-field textarea.materialize-textarea:focus{
   color: black;
   border-bottom: 1px solid rgb(58, 33, 143);
   box-shadow: 0 1px 0 0 rgb(58, 33, 143);
 }
 .input-field textarea.materialize-textarea:focus + label{
   color: rgb(58, 33, 143);
 }
 .input-field input[type=text] {
   border-bottom: 1px solid black;
   box-shadow: 0 1px 0 0 black;
 }
 .input-field input[type=email] {
   border-bottom: 1px solid black;
   box-shadow: 0 1px 0 0 black;
 }
 .input-field input[type=text]:focus {
   border-bottom: 1px solid rgb(58, 33, 143);
   box-shadow: 0 1px 0 0 rgb(58, 33, 143);
 }
 .input-field input[type=email]:focus {
   border-bottom: 1px solid rgb(58, 33, 143);
   box-shadow: 0 1px 0 0 rgb(58, 33, 143);
 }
 .input-field input[type=text].valid {
   border-bottom: 1px solid green;
   box-shadow: 0 1px 0 0 green;
 }
 .input-field input[type=email].valid {
   border-bottom: 1px solid green;
   box-shadow: 0 1px 0 0 green;
 }
 .input-field input[type=email].invalid {
   border-bottom: 1px solid red;
   box-shadow: 0 1px 0 0 red;
 }
 .input-field .prefix.active {
   color: black;
 }
textarea{
  min-height: 150px !important;
}
.btn{
  float: right;
  margin-right: 15px;
  background-color: turquoise;
}
.inputContacto{
  padding: 0px !important;
}
